<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= I18n.t('user_mailer.confirmation_email.subject') %></title>
  <style>
      body {
          font-family: Arial, sans-serif;
          background-color: #f4f4f4;
          margin: 0;
          padding: 0;
      }
      .container {
          max-width: 600px;
          margin: 0 auto;
          padding: 20px;
          background-color: #fff;
          border-radius: 10px;
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      }
      h1 {
          color: #007bff;
      }
      p {
          font-size: 18px;
          line-height: 1.6;
          color: #333;
      }
      a {
          color: #007bff;
          text-decoration: none;
          font-weight: bold;
      }
      a:hover {
          text-decoration: underline;
      }
  </style>
</head>
<body>
<div class="container">
  <h1><%= I18n.t('user_mailer.confirmation_email.subject') %></h1>
  <p><%= I18n.t('user_mailer.confirmation_email.welcome_message') %></p>
  <p><a href="<%= confirm_user_url(@user.locale, @user, confirmation_token: @user.confirmation_token) %>" style="color: #007bff; text-decoration: none;"><%= I18n.t('user_mailer.confirmation_email.confirm_email') %></a>.</p>
</div>
</body>
</html>
